---
layout: default
class: home
hide_breadcrumbs: true
title: 选择一个开源协议
permalink: /
---

<p>开源许可用于保护这些开源项目的使用者和使用者。如果没有这些许可证的保护，商人和开发者都无法接触到这些项目。</p>

<h2>
  <span>{</span>
  以下哪种情况最符合您的要求？
  <span>}</span>
</h2>
<ul class="triptych situations clearfix">
  <li class="existing">
    <a href="community/">
      <span class="triptych-sprite community"></span>
      <h3>社区协作开发</h3>
    </a>
    <p>
       使用<a href="community/">在开源社区协作开发中首选的开源协议</a> 无论你是在社区中作为一个贡献者或者是使用者，你都需要遵守许可协议。
    </p>
    <p>
      如果其中没有您所需要的许可证，请要求维护人员添加许可证 <a href="no-permission/#for-users">添加学科证</a>.
    </p>
  </li>
  <li class="whatever">
    <a href="licenses/mit/">
      <span class="triptych-sprite three-arrows"></span>
      <h3>条款简单的许可证</h3>
    </a>
    <p>
       <a href="licenses/mit/">MIT License</a> 非常简洁并且许可证较为宽松。 它基本允许开发者在开源项目上做任何想做的事情，包括分发闭源版本。
    </p>
    <p>
      {% include using-sentence.html license-id="mit" %}
    </p>
  </li>
  <li class="copyleft">
    <a href="licenses/gpl-3.0/">
      <span class="triptych-sprite circular"></span>
      <h3>注重于项目的分享</h3>
    </a>
    <p>
       <a href="licenses/gpl-3.0/">GNU GPLv3</a> 同样基本允许开发者在开源项目上做任何想做的事情，但是禁止将其分发为闭源的版本。 
    </p>
    <p>
      {% include using-sentence.html license-id="gpl-3.0" %}
    </p>
  </li>
</ul>
<h2>
  <span>{</span>
  如果这些都不适合我怎么办？
  <span>}</span>
</h2>
<ul class="triptych see-more clearfix">
  <li>
    <h3>非软件相关项目</h3>
    <p>
      <a href="non-software/">非软件许可协议</a>.
    </p>
  </li>
  <li>
    <h3>我希望有更多的选择</h3>
    <p>
      <a href="licenses/">更多可用的开源协议</a>.
    </p>
  </li>
  <li>
    <h3>不需要开源许可证</h3>
    <p>
      <a href="no-permission/">可能会发生的情况，如果不选择开源协议</a>.
    </p>
  </li>
</ul>
